include LICENSE
include README.md
include pyproject.toml

recursive-include src *.py
recursive-include src *.pyi
recursive-include src py.typed

global-exclude *.py[cod]

prune demo*
prune docs*
prune tests*
